body {
  background-color: blanchedalmond;
}

h1,
p,
footer {
  text-align: center;
}

footer a {
  color: green;
  margin: 0 10px;
}

img {
  margin: 30px auto;
  max-width: 90%;
  display: block;
  border-radius: 5px;
}
